<?

$wwwpath = "/murrix2.1";

$anonymous_id = 6;
$root_id = 1;

$mysql_address = "dbaddress";
$mysql_user = "dbuser";
$mysql_pass = "dbpass";
$mysql_db = "dbname";

$db_prefix = "murrix_";

$site_config['default'] = "standard";

$site_config['sites']['standard']['start'] = "/Root";
$site_config['sites']['standard']['languages'] = array("eng", "swe");
?>
