.polls_wrapper
{
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	width: 200px;
	border: 1px solid #B6BAFF;
	background-color: #FFFFFF;
}

.polls_wrapper_margin
{
	padding: 5px;
	padding-bottom: 0;
}

.polls_wrapper .title
{
	margin: 0;
	margin-bottom: 5px;
	padding: 5px;
	background-color: #B6BAFF;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}

.polls_wrapper .poll
{
	border: 1px solid #DCD7FF;
	padding: 5px;
	margin: 0;
	margin-bottom: 5px;
	padding-bottom: 0;
	background-color: #F9F9F9;
}

#content .poll
{
	border: 1px solid #B6BAFF;
	padding: 5px;
	margin: 0;
	margin-bottom: 5px;
	padding-bottom: 0;
	background-color: #FFFFFF;
}

.poll .question
{
	font-weight: bold;
	border-bottom: 1px solid #DCD7FF;
	margin-bottom: 5px;
}

.poll .date
{
	font-size: 8px;
}

.poll .result
{

}

.poll .staple_wrapper
{
	border: 1px solid #B6BAFF;
	background-color: #FFFFFF;
	padding: 0;
}

.poll .staple
{
	background-color: red;
	height: 10px;
	margin: 0;
}

.poll .alternatives
{
	padding-bottom: 5px;
}

.poll .alternative
{
	margin-bottom: 5px;
}