
body.body
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	background-color: white;
	margin: 0;
	padding: 0;
}

a
{
	color: #1a1a92;
	text-decoration: none;
}

a:hover, a:active
{
	color: blue;
}

.hidden
{
	display: none;
	margin: 0;
	padding: 0;
}

img
{
	border: none;
	vertical-align: text-bottom;
}

div.clear
{
	clear: both;
}

div.header
{
	font-weight: bold;
	color: black;
	background-color: #ebedee;
	font-size: 25px;
	text-align: center;
	height: 30px;
	background-image: url('/design/standard/images/grayback.jpg');
	background-repeat: repeat;
}

div.bar
{
	padding: 3px 5px 3px 5px;
	height: 20px;
	background-image: url('/design/standard/images/bar.png');
	background-repeat: repeat-x;
}

div.bar div.search
{
	float: right;
}

div.bar input.search
{
	width: 16px;
	height: 16px;
	border: none;
	padding: 1px;
	vertical-align: top;
}

div.bar input.input
{
	border: 1px solid #ebedee;
	height: 16px;
	width: 15em;
	padding: 1px;
	vertical-align: top;
}

div.bar div.address
{
	font-size: 10px;
	padding: 3px 0 3px 0;
}

div.bar div.address a
{
	color: black;
}

div.bar div.address a:hover, div.bar div.address a:active
{
	color: blue;
}

table.maintable
{
	width: 100%;
}

table.maintable td.sidebar
{
	vertical-align: top;
	width: 155px;
	background-color: #f5f5f7;
	padding: 5px;
	text-align: center;
	padding-bottom: 0;
}

table.maintable td.sidebar a.sidebar
{
	color: black;
}

table.maintable .container
{
	margin-bottom: 5px;
}

table.maintable td.sidebar div.title
{
	border: 1px solid #e1e4e8;
	border-width: 1px 0 1px 0;
	background-color: #ebedee;
	margin-bottom: 5px;
}

table.maintable td.sidebar div.title a.left
{
	margin-right: 2px;
	margin-top: -2px;
	float: left;
}

table.maintable td.sidebar div.title a.right
{
	margin-right: 2px;
	margin-top: -2px;
	float: right;
}

table.maintable td.sidebar div.container a.sidebar
{
	text-align: left;
	display: block;
	padding: 3px;
}

table.maintable td.sidebar div.container a.sidebar:hover, table.maintable td.sidebar div.container a.sidebar:active
{
	border: 1px solid #e1e4e8;
	border-width: 1px 0 1px 0;
	background-color: #ebedee;
	padding: 2px 3px 2px 3px;
}

table.maintable td.sidebar input.input
{
	border: 1px solid #ebedee;
	height: 16px;
	width: 136px;
	margin-bottom: 5px;
	padding: 1px;
}

table.maintable td.sidebar input.submit
{
	border: 1px solid #e1e4e8;
	background-color: #ebedee;
}

table.maintable td.middle
{
	vertical-align: top;
	padding: 5px;
	padding-bottom: 0;
	font-size: 12px;
}

table.maintable td.middle img
{
	vertical-align: middle;
}

table.maintable td.middle .adminpanel
{
	margin: 0;
}

table.maintable td.middle div.adminpanel a.tab
{
	float: left;
	padding: 5px;
	border: 1px solid #e1e4e8;
	border-bottom-width: 0;
	margin-right: 5px;
	display: block;
	background-color: #f7f7f9;
}

table.maintable td.middle div.adminpanel a.tab:hover, table.maintable td.middle div.adminpanel a.tab:active
{
	background-color: #ebedee;
}

table.maintable td.middle div.adminpanel a.tab_selected
{
	float: left;
	padding: 5px;
	border: 1px solid #e1e4e8;
	border-bottom-width: 0;
	margin-right: 5px;
	display: block;
	background-color: #e1e4e8;
}

table.maintable td.middle div.big_title
{
	border: 1px solid #e1e4e8;
	border-width: 1px 0 1px 0;
	background-color: #ebedee;
	margin-bottom: 5px;
	text-align: center;
	padding: 2px 5px 2px 5px;
	height: 24px;
}

table.maintable td.middle div.big_title div.left
{
	text-align: left;
	font-size: 20px;
	float: left;
}

table.maintable td.middle div.big_title div.right
{
	text-align: right;
	float: right;
	margin: 6px 0 6px 0;
}

table.maintable td.middle div.big_title select.select
{
	border: 1px solid #ebedee;
	height: 18px;
	padding: 1px;
	vertical-align: top;
	margin-top: -4px;
}

table.maintable td.middle div.medium_title
{
	border: 1px solid #e1e4e8;
	border-width: 1px 0 1px 0;
	background-color: #ebedee;
	margin-bottom: 5px;
	text-align: center;
	padding: 2px 6px 2px 6px;
	height: 20px;
}

table.maintable td.middle div.medium_title div.left
{
	font-size: 14px;
	text-align: right;
	float: left;
	margin: 1px 0 1px 0;
}

table.maintable td.middle div.medium_title div.center
{
	font-size: 12px;
	text-align: center;
	margin: 1px 0 1px 0;
}

table.maintable td.middle div.medium_title div.right
{
	text-align: right;
	float: right;
	margin: 1px 0 1px 0;
}

table.maintable td.middle div.medium_title img
{
	vertical-align: text-bottom;
}

table.maintable td.middle .top_edit_table
{
	margin: 0;
	padding: 0;
	width: 100%
}

table.maintable td.middle .top_edit_table .right
{
	text-align: right;
}

table.maintable td.middle .top_edit_table .left
{
	text-align: left;
}

table.maintable td.middle .top_edit_table input.input
{
	border: 1px solid #ebedee;
	height: 16px;
	width: 20em;
	padding: 1px;
}

table.maintable div.main, table.maintable .poll
{
	background-color: #F9F9F9;
	border: 1px solid #DCD7FF;
	margin-bottom: 5px;
	padding: 5px;
	padding-bottom: 0;
}

table.maintable div.main input.submit
{
	border: 1px solid #e1e4e8;
	background-color: #ebedee;
}

table.maintable fieldset
{
	background-color: #F9F9F9;
	border: 1px solid #DCD7FF;
	font-weight: bold;
	margin: 0;
}

table.maintable .form, table.maintable .input
{
	border: 1px solid #ebedee;
	padding: 2px;
}

table.maintable .input_big
{
	border: 1px solid #ebedee;
	padding: 2px;
	width: 25em;
}

div.timeline_wrapper
{

}

div.timeline_wrapper div.event
{
	margin-bottom: 5px;
}

div.timeline_wrapper div.event .body
{
	padding-top: 5px;
}

div.timeline_wrapper div.event .right
{
	float: right;
}

div.timeline_wrapper div.event .date
{
	font-style: italic;
	font-size: 11px;
}

div.timeline_wrapper div.event .title
{
	border: 1px solid #e1e4e8;
	border-width: 1px 0 1px 0;
	background-color: #ebedee;
	padding: 2px 5px 2px 5px;
	font-weight: bold;
}


table.maintable td.middle .show_line
{
	margin-bottom: 5px;
	min-height: 70px;
}

table.maintable td.middle hr
{
	border: 0 none;
	margin: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #e1e4e8;
	background-color: #e1e4e8;
	height: 1px;
}

table.maintable td.middle .show_line .show_line_logo
{
	float: left;
	margin: 5px;
	position: absolute;
	z-index: 2;
}

table.maintable td.middle .show_line .show_line_main
{
	display: block;
	vertical-align: top;
}

table.maintable td.middle .show_line .show_line_main_top
{
	border: 1px solid #e1e4e8;
	border-width: 1px 0 1px 0;
	background-color: #ebedee;
	padding: 5px;
}

table.maintable td.middle .show_line .show_line_main_top_inner
{
	margin-left: 70px;
}

table.maintable td.middle .show_line .show_line_main_top_inner_title
{
	font-weight: bold;
	font-size: 14px;
}

table.maintable td.middle .show_line .show_line_main_bottom
{
	margin-left: 70px;
	padding: 5px;
}

table.maintable td.middle .show_line .show_line_main_right
{
	float: right;
	margin: 5px;
}

table.maintable td.middle .show_item_wrapper
{
	font-size: 11px;
}

table.maintable td.middle .show_item_wrapper .show_item
{
	border: 1px solid #e1e4e8;
	background-color: #f5f5f7;
	width: 160px;
	height: 170px;
	text-align: center;
	float: left;
	margin: 0 5px 5px 0;
}

table.maintable td.middle .show_item_wrapper .show_item:hover, table.maintable td.middle .show_item_wrapper .show_item:active
{
	border: 1px solid #e1e4e8;
	background-color: #ebedee;
}

table.maintable td.middle .listwrapper
{
	margin-bottom: 5px;
}

table.maintable td.middle .listwrapper table
{
	padding: 0;
	border: none;
	width: 100%;
}

table.maintable td.middle .listwrapper table thead
{
	border: 1px solid #e1e4e8;
	border-width: 1px 0 1px 0;
	background-color: #ebedee;
	padding: 5px;
}

table.maintable td.middle .listwrapper table thead td
{
	padding: 5px;
}

table.maintable td.middle .listwrapper table tfoot td
{
	padding: 5px;
}

table.maintable td.middle .listwrapper table tbody td
{
	padding: 5px;
	vertical-align: top;
}

table.maintable td.middle .listwrapper table tbody .row
{
}

table.maintable td.middle .listwrapper table tbody .row_selected
{
	background-color: #f5f5f7;
}

table.maintable td.middle .listwrapper table tfoot
{
	padding: 5px;
	background-color: #ebedee;
}

table.maintable td.middle .listwrapper table tbody
{
	margin: 0;
	padding: 5px;
}

table.maintable td.middle .listwrapper table .empty
{
	height: 10px;
}


table.maintable td.middle table.contact_table
{
	width: 100%;
}

table.maintable td.middle table.contact_table td.left
{
	padding: 0;
	vertical-align: top;
}

table.maintable td.middle table.contact_table td.right
{
	padding: 0;
	padding-left: 5px;
	width: 300px;
	vertical-align: top;
}

table.maintable td.middle table.contact_table_inner td
{
	vertical-align: top;
}

table.maintable td.middle table.contact_table_inner td.left
{
	vertical-align: top;
	font-weight: bold;
	text-align: right;
}

table.maintable td.middle table.contact_table_inner td.right
{
	vertical-align: top;
}

table.maintable td.middle table.contact_table .family_tree_person
{
	margin: 0;
	margin-top: 5px;
	text-align: center;
	border: 1px solid #e1e4e8;
	padding: 5px;
}

table.maintable td.middle div.image_region
{
	background-image: url('/design/standard/images/50trans.png');
	background-repeat: repeat;
	font-weight: bold;
	color: white;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

table.maintable td.middle div.image_region div.border
{
	overflow: auto;
	border: 1px solid yellow;
	height: 100%;
}

table.maintable td.middle div.image_region div.text
{
	padding: 2px;
}

table.maintable td.middle div.image_region a
{
	display: block;
	color: white;
	text-decoration: none;
}

table.maintable td.middle div.image_region a:hover, table.maintable td.middle div.image_region a:active
{
	background-color: gray;
}


div.footer
{
	padding: 5px;
	background-color: #e1e4e8;
}

div.footer div.left
{
	float: left;
}

div.footer div.right
{
	float: right;
}