
body
{
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

img
{
	border-width: 0;
	vertical-align: middle;
	behavior: url("design/standard/stylesheets/pngbehavior.htc");
}

form
{
	display: inline;
}

.hidden
{
	display: none;
	margin: 0;
	padding: 0;
}

#clear
{
	clear: both;
	margin: 0;
	padding: 0;
}

a:link {
  	text-decoration:none;
	color: #0B0044;
}

a:visited {
	text-decoration:none;
	color: #0B0044;
}

a:active {
	text-decoration:none;
	color: #0011AA;
}

a:hover {
	color: #0016DA;
}

/*
=========================
== Content definitions ==
=========================
*/

#content
{
	margin: 5px;
	padding: 0;
}

#content .big_title
{
	border: 1px solid #B6BAFF;
	color: #000000;
	margin: 0;
	margin-bottom: 5px;
	padding: 5px;
	clear: both;
}

#content .big_title .big_title_left
{
	font-size: 18px;
	float: left;
}

#content .big_title .big_title_right
{
	float: right;
}

#content .big_title .big_title_inner
{
	margin: 0;
	padding: 5px;
	background-color: #B6BAFF;
}

#content .medium_title
{
	border: 1px solid #B6BAFF;
	color: #000000;
	margin: 0;
	margin-bottom: 5px;
	padding: 5px;
	clear: both;
}

#content .medium_title .medium_title_left
{
	font-size: 14px;
	float: left;
}

#content .medium_title .medium_title_right
{
	float: right;
}

#content .medium_title .medium_title_inner
{
	margin: 0;
	padding: 5px;
	background-color: #B6BAFF;
}

#content .show_line
{
	border: 1px solid #B6BAFF;
	margin: 0;
	padding: 5px;
	margin-bottom: 5px;
}

#content .show_line hr
{
	border: 0 none;
	margin: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #B6BAFF;
	background-color: #B6BAFF;
	height: 1px;
}

#content .show_line .show_line_logo
{
	float: left;
	margin: 5px;
	position: absolute;
	z-index: 2;
}

#content .show_line .show_line_logo_hidden
{
	float: left;
	height: 70px;
}

#content .show_line .show_line_main
{
	display: block;
	vertical-align: top;
}

#content .show_line .show_line_main_top
{
	background-color: #B6BAFF;
	padding: 5px;
}

#content .show_line .show_line_main_top_inner
{
	margin-left: 70px;
	font-weight: bold;
}

#content .show_line .show_line_main_top_inner_title
{
	font-size: 18px;
}

#content .show_line .show_line_main_bottom
{
	margin-left: 70px;
	padding: 5px;
}

#content .show_line .show_line_main_right
{
	float: right;
	margin: 5px;
}

#content .select
{
	border: 1px solid #DCD7FF;
	margin: 0;
	padding: 0;
	font-size: 12px;
}


#content .input
{
	border: 1px solid #DCD7FF;
	margin: 0;
	padding: 2px;
	font-size: 12px;
}

#content .form
{
	border: 1px solid #DCD7FF;
	margin: 0;
	padding: 2px;
	font-size: 12px;
}

#content .container
{
	width: 99%;
}

#content .submit
{
	border-width: 0;
	background-color: #B6BAFF;
	margin: 5px;
	padding: 2px;
	font-size: 14px;
}

#content .adminpanel
{
	margin: 0;
}

#content .adminpanel .tab
{
	float: left;
	padding: 5px;
	border: 1px solid #B6BAFF;
	border-bottom-width: 0;
	margin-left: 5px;
}

#content .adminpanel .tab_selected
{
	float: left;
	background-color: #B6BAFF;
	padding: 5px;
	border: 1px solid #B6BAFF;
	border-bottom-width: 0;
	margin-left: 5px;
}

#content .main
{
	border: 1px solid #B6BAFF;
	color: #000000;
	margin: 0;
	margin-bottom: 5px;
	padding: 5px;
	clear: both;
}

#content .top_edit_table
{
	margin: 0;
	padding: 0;
	width: 100%
}

/*
=========================
== Main definitions ==
=========================
*/

#main
{
	margin: 0;
	padding: 0;
}

/*
========================
== Header definitions ==
========================
*/

#header
{
	background-color: #000000;
	border-width: 0;
	width: 100%;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
	height: 80px;
}

#header #header_wrapper
{
	padding: 5px;
}

#header #header_name
{
	font-size: 40px;
}

#header #header_logo
{
	float: left;
	margin-left: 0;
	padding-left: 0;
}

#header #zone_login
{
	text-align: center;
	float: right;
	padding: 0;
	margin: 0;
	margin-right: 10px;
}

#header a:link {
  	text-decoration:none;
	color: #DCD7FF;
}

#header a:visited {
	text-decoration:none;
	color: #DCD7FF;
}

#header a:active {
	text-decoration:none;
	color: #DDDCFF;
}

#header a:hover {
	color: #FFFFFF;
}

#header .input
{
	border: 1px solid #DCD7FF;
	margin: 2px;
	padding: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 10px;
	width: 100px;
}

#header .submit
{
	border: 1px solid #DCD7FF;
	background-color: #B6BAFF;
	margin: 2px;
	padding: 0px;
	font-size: 10px;
	width: 126px;
}

/*
=====================
== Bar definitions ==
=====================
*/

#bar
{
	border-width: 0;
	background-color: #B6BAFF;
	width: 100%;
	color: #000000;
	margin: 0;
	padding: 0;
	height: 17px;
	vertical-align: middle;
	clear: both;
}

#bar #zone_addressbar
{
	padding: 2px;
	float: left;
}

#bar #search
{
	float: right;
	margin: 1px;
	margin-right: 2px;
}

#bar .input
{
	border: 1px solid #DCD7FF;
	margin: 0;
	padding: 2px;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 10px;
	width: 120px;
}

#bar .submit
{
	border-width: 0;
	background-color: #B6BAFF;
	margin: 0;
	padding: 0;
	font-size: 10px;
}

/*
========================
== Footer definitions ==
========================
*/

#footer
{
	border: 1px solid #B6BAFF;
	color: #000000;
	margin: 5px;
	padding: 5px;
	clear: both;
}

#footer #footer_left
{
	float: left;
}

#footer #footer_right
{
	float: right;
}

